@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    height: 100vh;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--rose);
    height: 35vh;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 33px;
  }

  .profil:focus {
      border: 1px solid white;

  }

  .dash-box {
      padding: 2vh 15vh;
      border: 1px dashed grey;
  }

  .tout-button {
      width: 15vw;
      text-align: left;
  }

  .form-card {
    width: 40vw;
  }

  .card { 
    box-shadow: 0px 4px 5px -2px rgba(107, 107, 107, 0.87);;
  }

  @media only screen and (max-width: 750px) {
    .dropdown-menu, .nav, .dropdown{
      display: none;
    }

    #hamburger-icon {
      display: block;
      margin-left: 45vw;
    }

  }
